.about {
  text-align: center;
}
.about__title {
  font-family: Pacifico, cursive;
  color: rgba(141, 6, 6, 1);
}
.about__desc {
  color: #595959;
  font-weight: 100;
}
@media screen and (min-width: 0) {
  .about {
    padding: 2.5rem 1rem;
  }
  .about__title {
    font-size: 2rem;
  }
  .about__desc {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 768px) {
  .about {
    padding: 2.5rem;
  }
  .about__title {
    font-size: 3.1875rem;
  }
  .about__desc {
    font-size: 1.75rem;
  }
}
