.people {
  display: flex;
  padding-top: 3rem;
  justify-content: space-around;
}
.person {
  display: flex;
  flex-direction: column;
}
.person__name {
  margin: 1rem 0;
  font-family: Pacifico, cursive;
  color: #8d0606;
  font-size: 2rem;
}
.person__func {
  text-transform: lowercase;
  color: #595959;
  font-size: 1.25rem;
}
.person__img {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 100%;
}
.person__img--roberta {
  background-image: url("../img/pessoas/roberta.jpg");
}
.person__img--marcela {
  background-image: url("../img/pessoas/marcela.jpg");
}
.person__img--andreia {
  background-image: url("../img/pessoas/andreia.jpg");
}
@media screen and (min-width: 0) {
  .people {
    flex-direction: column;
  }
  .person {
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .people {
    flex-direction: row;
  }
  .person {
    margin-bottom: 0;
  }
}
